@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.header {
    display: flex;
    /* width: 100%; */
    /* font-family: 'Poppins', sans-serif; */
    /* position: absolute; */
    /* overflow: hidden; */
    align-items: center;
    /* z-index: 100; */
    justify-content: space-between;
    padding: 10px;
}

.header-pic img {
    width: 70px;
    border-radius: 50%;
    height: 70px;
}

.nav-menu li a {
    color: var(--main-white);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

/* 
nav {
    display: flex;
    flex-grow: 1;
    padding: 10px;
    height: 3em;
    align-items: center;
    justify-content: space-around;
} */

/* .head { */
    /* display: flex;
    align-items: center; */
    /* margin-left: 1rem; */
/* } */

/* .head h1 {
    text-transform: uppercase;
    font-size: 30px;
    color: rgb(53, 51, 51);
}

.navmenu {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.navmenu li {
    margin-right: 3.5rem;
}

.navmenu li a {
    color: rgb(44, 40, 40);
    text-decoration: none;
    text-transform: uppercase;
}

.navmenu li a:hover {
    border-bottom: 3px solid #000;
}

.hamburger-menu {
    display: flex;
}

.hamburger-menu .menu {
    font-size: 30px;
    color: rgb(73, 71, 71);
    cursor: pointer;
} */

/* media querries */
@media (min-width:50em) {
    .nav-menu {
        display: flex;
        padding-inline: 2rem;
        padding-block: 1.5rem;
        gap: 3rem;
        list-style: none;
        background: var(--blur);
        margin: 0;
        /* backdrop-filter: blur(.3rem); */
    }

    .web, .web-close {
        display: none;
    }
}

@media (max-width:50em) {
    .nav-menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        inset: 0 0 0 50%;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        list-style: none;
        background-color: var(--blur-small);
        z-index: 999;
        transform: translateX(100%);
        transition: 450ms;
    }

    .nav-menu.active {
        transform: translateX(0);
        transition: 450ms;
    }

    .web {
        position: absolute;
        right: 2rem;
        top: 1.5rem;
        color: var(--main-white);
        cursor: pointer;
    }

    .web .web-menu {
        font-size: 40px;
    }

    .web-close {
        color: var(--main-white);
        cursor: pointer;
    }
}